@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text "Trust" in components/hp/IntroSection.tsx */
.linear-blue-green-gradient {
  background: linear-gradient(100.74deg, #2563eb 36%, #00ff19 104%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.linear-green-blue-gradient {
  background: linear-gradient(100.74deg, #00ffff , #2563EB );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.progressBar {
  background: linear-gradient(to right, #2563eb, #00ffff);
}

/* WalkthroughCard in components/hp/Walkthrough.tsx */
.blue-transparent-green-gradient {
  background: linear-gradient(45deg, #2563eb 0%, transparent 50%, #00ffff 100%);
}

/* DemoVideo in components/hp/Walkthrough.tsx */
.green-transparent-blue-gradient {
  background: linear-gradient(
    135deg,
    #00ffff 0%,
    transparent 50%,
    #2563eb 100%
  );
}

/* Feature Card in components/hp/Features.tsx */
.blue-transparent-green-gradient-vertical {
  background: linear-gradient(
    180deg,
    #2563eb 0%,
    transparent 50%,
    #00ffff 100%
  );
}

.progressBar {
  background: linear-gradient(to right, #2563eb, #00ffff);
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.srollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.srollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
